# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPYNB notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
ENV/
learn-env/

# Data files (Optional: hide if files are too large for GitHub)
*.log
.DS_Store
